<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="col1-content">
                    <h1>Register</h1>
                    <hr>
                    <form>
                        <input class="username" type="text" placeholder="Username">
                        <input class="password" type="password" placeholder="Password">
                        <input class="password" type="password" placeholder="Enter the password">
                        <input class="email" type="email" placeholder="abcxyz@email.com">
                        <button class="login" type="submit">Register</button>
                        <p><span>Not a member?</span><span><a href="/login">Login</a></span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>