<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="col1-content">
                    <h1>Login</h1>
                    <hr>
                    <form>
                        <input class="username" type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <p class="forgot">Forgot Password?</p>
                        <button class="login" type="submit">Login</button>
                        <p><span>Not a member?</span><span><a href="/register">Sigup</a></span></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>